//==============================================================================

// Title:
// Home / Landing Page

// Description:
// Home / landing page styling.

//==============================================================================
.review__preview
  padding 20px 0px
  transition background-color .3s
  margin-bottom 20px

.review__title
  margin 0px



.review-add
  height 0px
  transition height .3s
  overflow hidden

.review-add--open
  height (94 + 455)px



.review
  transition height .3s
  overflow hidden
  height 94px

.review--open
  height (94 + 455)px

.review__details
  // padding 20px 0px
  height 455px

.review__title__input
  font-size 45px
  font-weight 800
  @extends .input-clear
  padding 0px
  margin 0
  width 100%

.review__details__row
  clearfix()

.review__details__desc
  width responsive(540, 940)
  float left

.review__details__details
  // margin-top (37+15)px
  width responsive(300, 940)
  float right

.review__details__save
.review__details__update
  @extends .btn-lrg
  float right
  margin 0


.review__details__review
  width 100%
  max-width 100%
  min-height 250px
  max-height 250px

.ta-editor
  width 100%
  max-width 100%
  min-height 250px
  max-height 250px
  margin-top 15px
  p
    margin-top 0px
  // min-height: 300px;
  // height: auto;
  // overflow: auto;
  // font-family: inherit;
  // font-size: 100%;