.title--centered
  text-align center
  font-size 22px

.login-form
  max-width 400px
  width 80%
  margin 200px auto 0px auto
  display block
  .btn
    margin: 15px 0 0 0;
    background: #7BB7FA;
    padding: 20px;
    font-size: 19px;
    display: inline-block;
    border-radius: 3px;
    color: #FFF;
    border: 0;
    cursor: pointer;
    display block
    width 100%
    &:hover
      background: darken(#7BB7FA, 10%)

.form-label
  margin 0
  position relative
  width 100%
  display block
  i
    position absolute
    top 18px
    left 20px
    color #59646F
    font-size 24px
    transition all .3s
  .fa-user
    top 21px
    left 22px
  .fa-key
    top 22px
  input:focus + i
    color #ffffff
  input
    padding-left 65px
    font-weight 400
    font-size 18px
  input::-webkit-input-placeholder
    color #59646F
    font-weight 800
    font-size 18px
  input:-moz-placeholder
    color #59646F
    font-weight 800
    font-size 18px
  input::-moz-placeholder
    color #59646F
    font-weight 800
    font-size 18px
  input:-ms-input-placeholder
    color #59646F
    font-weight 800
    font-size 18px

.input-top
.input-btm
  padding 20px
  margin 0
.input-top
  border-radius 3px 3px 0px 0px
.input-btm
  border-radius 0px 0px 3px 3px