.login-form
.signup-form
  max-width 400px
  width 80%
  margin 200px auto 0px auto
  display block
  input
    background #151F2E
    color #ffffff
  .btn
    width 100%
    margin-top 20px

.input-top
  border-radius 3px 3px 0px 0px

.input-btm
  border-radius 0px 0px 3px 3px

.form__small
  color #ffffff
  font-size 15px
  text-align center
  margin-top 10px
  display block

.form-label
  position relative
  width 100%
  display block

  i
    position absolute
    top 18px
    left 20px
    color $colourBG
    font-size 24px
    transition all .3s
  .fa-user
    top 21px
    left 22px
  .fa-key
    top 22px

  input:focus + i
    color #ffffff

  input
    padding-left 65px

  input::-webkit-input-placeholder
    color #ffffff
    // transition all .3s

  input:-moz-placeholder
    color #ffffff
    // transition all .3s

  input::-moz-placeholder
    color #ffffff
    // transition all .3s

  input:-ms-input-placeholder
    color #ffffff
  //   transition all .3s


  // input:focus::-webkit-input-placeholder
  //   color #ffffff

  // input:focus:-moz-placeholder
  //   color #ffffff

  // input:focus::-moz-placeholder
  //   color #ffffff

  // input:focus:-ms-input-placeholder
  //   color #ffffff