.tags
  background #d03545
  color #ffffff
  text-align center
  padding 200px 0px
  h1
    color #ffffff
  li
    background #791e27
    display inline-block
    padding 15px 20px
    border-radius 3px
    margin 5px 10px
    cursor pointer
    transition background .4s
    &:hover
      background #a82734
  a
    color #ffffff