div(infinite-scroll="addReviews()", class="scroll-loader", can-load="canLoad", threshold="80", style="height: {{pageHeight}}")
  .container.home
    section.landing(style="height: {{pageHeight}}")
      .wrapper
        h1.landing-header Appinionated
        p.landing-desc
          | Featuring only the best designed apps for the iPhone.

        //- .follow-btn
        //-   //- a(href="https://twitter.com/appinionated_", data-show-count="false", data-lang="en").twitter-follow-button Follow @appinionated_
        //-   a(twitter-follow, href="https://twitter.com/appinionated_", data-show-count="false", data-lang="en").twitter-follow-button Follow @appinionated_

        .social-links
          .fb-like(data-href="http://www.appinionated.co.uk/", data-colorscheme="light", data-layout="button_count", data-action="like", data-show-faces="false", data-send="false")
          //- a(href="https://twitter.com/share", data-url="http://www.appinionated.co.uk/", data-via="appinionated_").twitter-share-button Tweet
          a(twitter-share, data-via="appinionated_", data-url="http://www.appinionated.co.uk/")
        p
          a(href="mailto:submit@appinionated.co.uk?subject=Here's%20my%20app&body=Remember to send us a redeem code if it's a priced app.", target="_self").mail-to
            |Send us your app

      a(href="/#tall-chess").phone--top
      a(href="/#thinglist").phone--bottom

  section(ng-repeat="review in reviews", style="background-color: #{{review.colorBg}}; color: #{{review.colorText}}; height: {{pageHeight}}").review.review--portrait.review--phone--dark
    .review__preview
      .wrapper
        .review__images
          .review__image__wrapper
            ul(gallery, images="review.images").slides
              li(ng-repeat="image in review.images track by $index", ng-show="selectedImage==$index")
                img(ng-src="{{image}}")
        .review__desc
          h2(ng-bind="review.title")
          div(ng-bind-html="review.review")
          a(href="{{review.hrefStore}}", target="_blank", style="color: #{{review.colorBg}};").btn View App