.review__preview(style="background-color: #{{review.colorBg}}; color: #{{review.colorText}};")
  .wrapper
    h2(ng-bind="review.title").review__title
.wrapper
  form.review__details
    .review__details__row
      .review__details__desc
        div(text-angular, ng-model="review.review", ta-toolbar="[['bold', 'italics', 'p', 'insertLink', 'unlink']]").review__details__review
      .review__details__details
        label.checkbox
          input(type="checkbox", ng-model="review.published")
          strong Published
        label
          strong App Store Link:
          input(type="text", ng-model="review.hrefStore")
        label
          strong Background Color:
          input(type="text", ng-model="review.colorBg")
        label
          strong Text Color:
          input(type="text", ng-model="review.colorText")
    .review__details__row
      .review__images
        .review__images__col
          div(ng-show="dropSupported", class="drop-box", ng-file-drop="onFileSelect($files);", ng-file-drop-available="dropSupported=true").review__images__drop
            | Upload image
          //- input(type="file", ng-file-select="onFileSelect($files)").input-box

        .review__images__col(ng-repeat="image in review.images track by $index")
          img(src="{{image}}")
    .review__details__row
      a(ng-click="updateReview(review)").review__details__update Update