.input-clear
  outline 0
  border 0px
  background transparent

.list-no-style
  list-style-type none
  margin 0
  padding 0

input
  background-color rgba(0, 0, 0, 0.2)
  @extends .input-clear
  padding 15px 30px
  margin-right 10px
  transition background-color 1s
  color #ffffff
  &:focus
    background-color #233f56

::-webkit-input-placeholder
    color #ffffff
:-moz-placeholder
    color #ffffff
::-moz-placeholder 
    color #ffffff
:-ms-input-placeholder
    color #ffffff