body
  font-family "proxima-nova-soft", sans-serif

p
  font-size 16px
  line-height 22px

h1
  font-size 30px
  text-align center
  @media $mediaTab
    font-size 84px

h2
  font-size 40px
  margin 0px 0px 10px 0px

a
  text-decoration none
  font-weight 800

small
  color #ffffff
  font-size 16px