//==============================================================================

// Title:
// Page Header

// Description:
// Website header used on all pages.

//==============================================================================
.header-main
  height 30px
  padding 10px 0px
  background-color #1b2734

.header__title
  float left
  margin 0

.header__review-add
  float right
  margin 0