//==============================================================================

// Title:
// Home / Landing Page

// Description:
// Home / landing page styling.

//==============================================================================
.review__preview
  padding 20px 0px
  transition background-color .3s

.review__title
  margin 0px




.review
  transition height .3s
  overflow hidden
  height 94px

.review--open
  height (94 + 355)px

.review__details
  padding 20px 0px
  height 355px

.review__title__input
  font-size 45px
  // padding 20px 0px

.review__details__row
  clearfix()

.review__details__desc
  width responsive(540, 940)
  float left

.review__details__details
  width responsive(300, 940)
  float right

.review__details__save
.review__details__update
  @extends .btn
  float right


.review__details__review
  width 100%
  max-width 100%
  min-height 250px
  max-height 250px