!!! 5

html(ng-app="myApp")

  head
    title Appinionated CMS
    link(rel="stylesheet", href='/css/cms.css')
    link(rel='stylesheet prefetch', href='http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css')
    base(href="/cms")

    script.
      (function() {
        var config = {
          kitId: 'jja4ieg'
        };
        var d = false;
        var tk = document.createElement('script');
        tk.src = '//use.typekit.net/' + config.kitId + '.js';
        tk.type = 'text/javascript';
        tk.async = 'true';
        tk.onload = tk.onreadystatechange = function() {
          var rs = this.readyState;
          if (d || rs && rs != 'complete' && rs != 'loaded') return;
          d = true;
          try { Typekit.load(config); } catch (e) {}
        };
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(tk, s);
      })();

  body
    include includes/header

    div.main-container(ng-view)

    //- AngularJS
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js")
    script(src="/bower_components/angular-sanitize/angular-sanitize.min.js")
    script(src="/bower_components/angular-route/angular-route.min.js")
    script(src="/bower_components/angular-animate/angular-animate.min.js")
    script(src="/bower_components/angular-cookies/angular-cookies.min.js")
    script(src="/bower_components/angular-resource/angular-resource.min.js")
    script(src="/bower_components/textAngular/textAngular.min.js")

    //- AngularJS App
    script(src="/cms/js/routingConfig.js")
    script(src="/cms/js/app.js")

    //- AngularJS Controllers
    script(src="/cms/js/controllers/controllers.js")
    script(src="/cms/js/controllers/auth-controller.js")
    script(src="/cms/js/controllers/admin-controller.js")
    script(src="/cms/js/controllers/nav-controller.js")

    //- AngularJS Filters
    script(src="/cms/js/filters.js")

    //- AngularJS Services
    script(src="/cms/js/services.js")
    script(src="/cms/js/services/review.js")

    //- AngularJS Directives
    script(src="/cms/js/directives/directives.js")