doctype 5
html(ng-app="myApp")
  head
    title Appinionated

    // Twitter Meta
    //- meta(name='twitter:card', value='summary')
    //- meta(name='twitter:site', value='')

    // Facebook Meta
    <meta property="og:url" content="http://www.appinionated.co.uk/"/>
    <meta property="og:title" content="Appinionated"/>
    <meta property="og:description" content="Bringing you short and concise reviews on only the best designed apps and games for the iPhone and iPad."/>
    <meta property="og:image" content="/imgs/apple/apple-touch-icon-precomposed-144x144.png">

    // Google Meta
    meta(name="author",content="http://www.appinionated.co.uk")
    meta(name="description", content="Bringing you short and concise reviews on only the best designed apps and games for the iPhone and iPad.")

    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0')

    // TradeDoubler site verification 2334711

    // iPhone
    link(rel='apple-touch-icon-precomposed', href=('/imgs/apple/apple-touch-icon-precomposed-57x57.png'), sizes='57x57')
    // iPhone (Retina)
    link(rel='apple-touch-icon-precomposed', href=('/imgs/apple/apple-touch-icon-precomposed-114x114.png'), sizes='114x114')
    // iPad
    link(rel='apple-touch-icon-precomposed', href=('/imgs/apple/apple-touch-icon-precomposed-72x72.png'), sizes='72x72')
    // iPad (Retina)
    link(rel='apple-touch-icon-precomposed', href=('/imgs/apple/apple-touch-icon-precomposed-144x144.png'), sizes='144x144')

    block fonts

    link(rel='shortcut icon',type='image/png',href='/img/favicon.png')
    link(rel='stylesheet', href='/css/vendor/reset.css')
    //- link(rel='stylesheet', href='/css/vendor/flexslider.css')
    //- link(rel='stylesheet', href='/css/vendor/font-awesome.min.css')
    link(rel='stylesheet', href='/css/main.css')

    block stylesheets

    script(type="text/javascript", src="//use.typekit.net/jja4ieg.js")
    script.
      try{Typekit.load();}catch(e){}

    script(src="/js/vendor/modernizr.custom.45427.js")

  body
    div.main-container(ng-view)

    //- AngularJS
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js")
    script(src="/bower_components/angular-sanitize/angular-sanitize.min.js")
    script(src="/bower_components/angular-route/angular-route.min.js")
    script(src="/bower_components/angular-animate/angular-animate.min.js")
    script(src="/bower_components/angular-resource/angular-resource.min.js")
    script(src="/js/vendor/infinite-scroll.js")

    //- AngularJS App
    script(src="/js/app.js")

    //- AngularJS Controllers
    script(src="/js/controllers/home.js")

    //- AngularJS Services
    script(src="/js/services/review.js")

    //- AngularJS Directives
    script(src="/js/directives/gallery.js")

    // Google Analytics
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga')

      ga('create', 'UA-42809533-1', 'appinionated.co.uk')
      ga('send', 'pageview')


    div#fb-root
    script.
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=733620159987309";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

    //- script(src="//platform.twitter.com/widgets.js")