//==============================================================================

// Title:
// Buttons

// Description:
// General website buttons.

//==============================================================================
a.btn,
.btn
  padding 15px 30px
  margin-right 10px
  border-radius 4px
  display inline-block
  background-color #233445
  color #ffffff
  font-size 18px
  font-weight 800
  border 1px solid #ffffff
  transition all 1s
  cursor pointer
  &:hover
    background-color #ffffff
    color #233445