//==============================================================================

// Title:
// Forms

// Description:
// Base styling for input forms.

//==============================================================================

.input-clear
  outline 0
  border 0px
  background transparent

.list-no-style
  list-style-type none
  margin 0
  padding 0

.form-err
  display none

textarea
input
  font-size 18px
  line-height 26px
  font-family $primaryTypeface
  color #ffffff
  @extends .input-clear

label
  margin-bottom 25px
  display block
  clearfix()
  strong
    display block
  input
    padding 0px
    font-size 14px
    display block
    width 100%