//==============================================================================

// Title:
// Structure

// Description:
// Base website structure, used for containers and
// wrappers.

//==============================================================================

body
  color #ffffff
  background-color #233445
  // background-color #1b2734
  margin 0

.wrapper
  max-width 940px
  // width 90%
  margin 0 auto
  clearfix()