//==============================================================================

// Title:
// Typography

// Description:
// Typographic styling and type treatment, keep your
// elements layout out of this file.

//==============================================================================
$primaryTypeface = "proxima-nova-soft", sans-serif

body
  font-family $primaryTypeface

h1
  margin 0
  font-size 18px

h2
  font-size 45px